/*TUTutor Main Page Style Formatting*/

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

h1 {
    margin: 0%;
}

#getforms {
    padding: 10px 10px 0 150px;
    margin: 2.5%;
}

.card {
    float: left;
    padding: 40px;
    margin-left: 7%;
    height: 80%;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainpagebtn {
    width: 200px;
    height: 220px;
    border: 5px solid black;
    /*  background: #ffb30a; */
}

.signin {
    margin: 10px 10px 10px 370px;
    width: 200px;
    height: 120px;
}

.signin h4 {
    margin: 0%;
}


/*
#createaccount{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid #FFF821;
}

#logintutor{
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid #FFF821;
}

#loginpupil{
    text-align: center;
    width: 200px;
    height:200px;
    border: 5px solid #FFF821;
} */


/*SOCIAL MEDIA LINK FORMATTING */

.fa {
    margin: -3px 3px;
    border-radius: 50%;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}


/*TUTutor User Login page*/

.user {
    margin: 13px;
    padding: 10px;
}

.userform {
    margin: 40px;
    padding: 10px;
    width: 300px;
    height: 280px;
    position: relative;
    left: 415px;
}


/*TUTutor Create Account Style Formatting*/

#chooseprofile {
    text-align: center;
    font-weight: bold;
}

#tutorpupilchoice {
    text-align: center;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#tutoraccount {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid #000000;
}

#pupilaccount {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 5px solid #000000;
}


/*Login Styles*/

fieldset {
    border: 0;
}

#loginpage {
    text-align: center;
}

#tutorloginpage {
    text-align: center;
    border: 5px solid #FFF821;
    max-width: 500px;
}

#pupilloginpage {
    text-align: center;
    border: 5px solid #FFF821;
    max-width: 500px;
}

#adminloginpage {
    text-align: center;
    border: 5px solid #FFF821;
    max-width: 500px;
}


/*Homepage Styles*/

#welcome {
    max-width: 100%;
    height: auto;
    background-color: #f6f6f6;
}

#welcome img {
    width: 100%;
    background-color: #ffb30a;
}

#mainpageimg {
    margin-top: 1%;
    padding: 10px;
    box-shadow: 2px 2px 2px 4px grey;
    z-index: -1;
    size: 100px;
}

#mainpageimg img {
    opacity: 0.8;
}


/*
#welcome2{
    text-align:center;
} */

.topnav {
    background-color: #ffb30a;
    height: 40%;
    overflow: hidden;
}

.topnav ul {
    list-style-type: none;
    margin: 1.5%;
    padding-left: 15px;
}

.topnav li {
    display: inline;
    align-self: center;
}

.topnav a {
    color: black;
    padding: 0 5px 0 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ccc;
    color: black;
}

.topnav a.active {
    background-color: #FFF821;
    color: black;
}


/* footer navigation */

.nav2 {
    /*overflow: hidden;*/
    background-color: black;
    height: 100%;
}

.nav2 ul {
    list-style-type: none;
    padding: 3%;
}

.nav2 li {
    display: inline;
    align-self: center;
    padding: 5px;
}

.nav2 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}


/*
.topnav .searchbtn {
  float: center;
} */

.searchbtn {
    float: right;
    margin: 0 10% 0 0;
    height: 6%;
    text-align: center;
    border-radius: 5px;
    color: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


/* .searchbtn:hover,
.searchbtn:focus {
    background-color: #9A9797;
} */

.searchIn {
    width: 76%;
    height: 20px;
    margin: 1% 0 0 8%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-bottom-color: black;
}

.searchIn:focus {
    color: yellow;
}


/* #searchInput {
    text-align: center;
    background-position: 14px 12px;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ccc;
}

#searchInput:focus {
    outline: 3px solid #ddd;
} */

.searchbar {
    position: center;
    display: block;
    overflow: hidden;
    margin: 40px;
}

.searchbar .searhbtn button {
    float: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 75%;
    overflow: auto;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    display: block;
}

.searchbar a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.feed {
    float: left;
    width: 40%;
    padding: 20px;
    margin: 5% 5% 5% 5%;
    height: 70%;
    background-color: white;
    border: solid;
    border-radius: 5px;
    border-color: black;
    background-blend-mode: lighten;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#feedrow {
    background-color: #ffb30a;
    margin: 0 5% 0 5%;
    height: auto;
}


/* .row:after {
    content: "";
    display: table;
    clear: both;
} */


/*FAQ */

.faqlist {
    background-color: #FFF821;
    color: #444;
    padding: 18px;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    vertical-align: center;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
}

.panel li {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.panel ol {
    text-align: center;
}

.faqlist:hover {
    background-color: #ccc;
}

.panel {
    display: none;
    padding: 0 50px;
    background-color: white;
    overflow: hidden;
}


/*CONTACT US STYLES */

.contactdetails {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#banner {
    width: 1800px;
    height: 70%;
}